.site-footer
{
  background-color:#fff;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000;
position: fixed;
text-align:center
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#216869;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#000;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
    
* {
                font-family: Verdana;
                font-size: 95%;
                margin: 0;
                padding: 0;
            }
            
            table {
                border: 2px solid black;
                border-collapse: collapse;
                margin-top: 1%;
                margin-left: 2%;
                min-width: auto;
                white-space: nowrap;
                overflow-x: scroll;
            }

            
            tr:hover{
                background-color: #eaeaea;
            }
            
            tr:nth-child(even) {
                background-color: #f5f5f5;
            }
            
            td,th {
                border: 1px solid #bbb;
                text-align: center;
                height: 30px;
                padding: 15px;
            }
                        
            th {
                background-color: rgb(33, 104, 105);
                color: white;
            }
            
            caption {
                margin-bottom: 4%;
                font-size: 250%;
                font-weight: bold;
            }
            
            [class="1a"], [class="1b"], [class="1c"], [class="1d"], [class="1e"], [class="1f"], [class="red"] {
                background-color: rgba(255,0,0,0.3);
            }
            
            [class="2a"], [class="2b"], [class="2c"] {
                background-color: rgba(255,127,0,0.3);
            }
            
            [class="3a"], [class="3b"], [class="orange"] {
                background-color: rgba(255,255,0,0.3);
            }
            
            [class="4"] {
                background-color: rgba(100,255,0,0.3);             
            }
            
            [class="5"] {
                background-color: rgba(50,255,0,0.3);
            }
            
            [class="6"], [class="green"] {
                background-color: rgba(0,255,0,0.3);
            }
            
            [class="7"]  {
                background-color: rgba(180,180,180,0.3);
            }
